{% extends "base.html" %}

{% block content %}
      
    <body background="static/img/fundo.jpeg">
    
        
        <img class="img" src="../static/img/tecnologia.jpeg" alt="imagem de capa">
        <h1>Sobre a universidade</h1>
        <p class="pg">
        Lipsum dolor sit amet, consectetur adipisicing elit. Sint exercitationem, ducimus provident placeat sit maxime ullam tempore accusamus reprehenderit dolores libero incidunt eius, totam quos. At aut id corrupti quibusdam.Lipsum dolor sit amet, consectetur adipisicing elit. Sint exercitationem, ducimus provident placeat sit maxime ullam tempore accusamus reprehenderit dolores libero incidunt eius, totam quos. At aut id corrupti quibusdam.Lipsum dolor sit amet, consectetur adipisicing elit. Sint exercitationem, ducimus provident placeat sit maxime ullam tempore accusamus reprehenderit dolores libero incidunt eius, totam quos.
        </p>
        <h4>Todos os direitos reservados</h4>
    </div>
    </body>
{% endblock %}