{% extends "base.html" %}

{% block content %}
<body background="static/img/fundo2.jpeg">
    <h3>Quem somos</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate aperiam aut tempora doloribus mollitia laboriosam repellendus, quam officia, distinctio nesciunt dolorem natus blanditiis hic. Nam repudiandae cumque iusto illum consequuntur.Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate aperiam aut tempora doloribus mollitia laboriosam repellendus, quam officia, distinctio nesciunt dolorem natus blanditiis hic. Nam repudiandae cumque iusto illum consequuntur!</p>

    <h3>5 motivos para estudar</h3>
    <ol>
        <li>Material sempre atualizado</li>
        <li>Tablets em sala de aula</li>
        <li>Professores renomados</li>
        <li>Universidade bem avaliada</li>
        <li>Ótima localização</li>
      </ol> 
      <hr>
      <h3>Objetivos</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum omnis quia delectus esse repudiandae necessitatibus at? Accusantium, ea. Id laboriosam repudiandae rem illo. Ullam alias beatae laudantium totam ab sunt.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum omnis quia delectus esse repudiandae necessitatibus at? Accusantium, ea. Id laboriosam repudiandae rem illo. Ullam alias beatae laudantium totam ab sunt.
      </p>
      <h4>Todos os direitos reservados</h4>

</body>
    {% endblock %}